.snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: -15px;
  overflow: hidden;
  z-index: 2;
  pointer-events: none; }
  .snow-container .snow {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform: translate3d(0%, -100%, 0);
    transform: translate3d(0%, -100%, 0);
    -webkit-animation: snow linear infinite;
    animation: snow linear infinite; }
    .snow-container .snow.foreground {
      background-image: url("../images/snow-foreground.png");
      -webkit-animation-duration: 15s;
      animation-duration: 15s; }
      @media (max-width: 992px) {
        .snow-container .snow.foreground {
          -webkit-animation-duration: 30s;
          animation-duration: 30s; } }
      @media (max-width: 767px) {
        .snow-container .snow.foreground {
          -webkit-animation-duration: 40s;
          animation-duration: 40s; } }
      .snow-container .snow.foreground.layered {
        -webkit-animation-delay: 7.5s;
        animation-delay: 7.5s; }
        @media (max-width: 992px) {
          .snow-container .snow.foreground.layered {
            -webkit-animation-duration: 20s;
            animation-duration: 20s; } }
        @media (max-width: 767px) {
          .snow-container .snow.foreground.layered {
            -webkit-animation-duration: 30s;
            animation-duration: 30s; } }
    .snow-container .snow.middleground {
      background-image: url("../images/snow-middle.png");
      -webkit-animation-duration: 25s;
      animation-duration: 25s; }
      @media (max-width: 992px) {
        .snow-container .snow.middleground {
          -webkit-animation-duration: 40s;
          animation-duration: 40s; } }
      @media (max-width: 767px) {
        .snow-container .snow.middleground {
          -webkit-animation-duration: 50s;
          animation-duration: 50s; } }
      .snow-container .snow.middleground.layered {
        -webkit-animation-delay: 10s;
        animation-delay: 10s; }
        @media (max-width: 992px) {
          .snow-container .snow.middleground.layered {
            -webkit-animation-duration: 30s;
            animation-duration: 30s; } }
        @media (max-width: 767px) {
          .snow-container .snow.middleground.layered {
            -webkit-animation-duration: 40s;
            animation-duration: 40s; } }
    .snow-container .snow.background {
      background-image: url("../images/snow-background.png");
      -webkit-animation-duration: 35s;
      animation-duration: 35s; }
      @media (max-width: 992px) {
        .snow-container .snow.background {
          -webkit-animation-duration: 50s;
          animation-duration: 50s; } }
      @media (max-width: 767px) {
        .snow-container .snow.background {
          -webkit-animation-duration: 60s;
          animation-duration: 60s; } }
      .snow-container .snow.background.layered {
        -webkit-animation-delay: 15s;
        animation-delay: 15s; }
        @media (max-width: 992px) {
          .snow-container .snow.background.layered {
            -webkit-animation-duration: 40s;
            animation-duration: 40s; } }
        @media (max-width: 767px) {
          .snow-container .snow.background.layered {
            -webkit-animation-duration: 50s;
            animation-duration: 50s; } }

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  90% {
    -webkit-transform: translate3d(2%, 90%, 1000px);
    transform: translate3d(2%, 90%, 1000px); }
  100% {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); } }
@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  90% {
    -webkit-transform: translate3d(2%, 90%, 1000px);
    transform: translate3d(2%, 90%, 1000px); }
  100% {
    -webkit-transform: translate3d(0%, 100%, 0);
    transform: translate3d(0%, 100%, 0); } }
body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle farthest-corner at center center, white 19%, #0094ff 80%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: cursive; }

.comingsoon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  right: 0;
  font-size: 60px;
  color: black;
  text-align: center;
  padding: 15px; }

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.social {
  position: absolute;
  left: 0;
  right: 0;
  top: 77%;
  text-align: center; }

.social ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.social ul li {
  display: inline-block;
  padding: 0 5px; }

.social ul li a {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px dashed black;
  font-size: 20px;
  color: #000;
  transition: all 1s ease;
  border-radius: 15px;
  text-align: center; }

.social ul li a:hover {
  border-radius: 0;
  border: 1px dashed black;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white; }

a:hover, .fa-facebook:hover {
  color: #21759B; }

a:hover, .fa-instagram:hover {
  color: #E4405F; }

a:hover, .fa-linkedin:hover {
  color: #0077B5; }

a:hover, .fa-twitter:hover {
  color: #55ACEE; }

@media (max-width: 560px) {
  .comingsoon {
    font-size: 35px;
    margin: 0 auto 20px; }

  .social {
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
