@font-face {
  font-family: 'DIN';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Light.eot");
  src: url("../fonts/DIN-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Light.woff2") format("woff2"), url("../fonts/DIN-Light.woff") format("woff"), url("../fonts/DIN-Light.svg#DIN-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Regular.eot");
  src: url("../fonts/DIN-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Regular.woff2") format("woff2"), url("../fonts/DIN-Regular.woff") format("woff"), url("../fonts/DIN-Regular.svg#DIN-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Bold.eot");
  src: url("../fonts/DIN-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Bold.woff2") format("woff2"), url("../fonts/DIN-Bold.woff") format("woff"), url("../fonts/DIN-Bold.svg#DIN-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
body {
  margin: 0;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset {
  margin: 0 0 14px; }

html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  background: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  font-family: "DIN";
  line-height: 1.2; }

* {
  max-height: 100000px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

img {
  border-style: none;
  display: block; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

input,
textarea,
select {
  font: 100% "DIN";
  vertical-align: middle;
  border-radius: 0 !important; }

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  margin: 0;
  padding: 4px 7px;
  border: 1px solid #dddddd;
  border-radius: 0; }
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  textarea:focus {
    border-color: #919191; }

textarea {
  overflow: auto;
  resize: vertical; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* NAVBAR */
.header {
  width: 100%;
  background-color: #0c4363; }
  .header .navbar {
    margin: 0 auto;
    height: 120px;
    max-width: 1200px;
    width: 100%;
    background-color: #0c4363; }
    @media (max-width: 992px) {
      .header .navbar {
        padding: 0; } }
    @media (max-width: 580px) {
      .header .navbar {
        height: 80px; } }
  .header .logo-wrapper {
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .header .logo-wrapper {
        margin: 0;
        padding-left: 30px; } }
    @media (max-width: 580px) {
      .header .logo-wrapper {
        padding-left: 15px;
        max-width: 180px; } }
  .header .nav-wrapper {
    background-color: #0c4363;
    z-index: 99; }
    .header .nav-wrapper .menu-text {
      color: #c77e00;
      display: inherit; }
    .header .nav-wrapper .hamburger {
      padding: 10px 15px 0;
      display: none;
      cursor: pointer;
      transition-property: opacity, filter;
      transition-duration: 0.15s;
      transition-timing-function: linear;
      font: inherit;
      color: inherit;
      text-transform: none;
      background-color: transparent;
      border: 0;
      margin: 0;
      overflow: visible; }
      @media (max-width: 992px) {
        .header .nav-wrapper .hamburger {
          display: inline-block; } }
      .header .nav-wrapper .hamburger:focus {
        outline: none; }
      .header .nav-wrapper .hamburger:hover {
        opacity: 0.9; }
      .header .nav-wrapper .hamburger .hamburger-box {
        width: 50px;
        height: 30px;
        display: inline-block;
        position: relative;
        top: 5px; }
        .header .nav-wrapper .hamburger .hamburger-box .hamburger-inner {
          display: block;
          top: 50%;
          margin-top: -2px;
          width: 50px;
          height: 6px;
          background-color: #c77e00;
          border-radius: 0;
          position: absolute;
          transition-property: transform;
          transition-duration: 0.15s;
          transition-timing-function: ease; }
          .header .nav-wrapper .hamburger .hamburger-box .hamburger-inner:before {
            top: -12px;
            content: "";
            display: block;
            width: 50px;
            height: 6px;
            background-color: #c77e00;
            border-radius: 0;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease; }
          .header .nav-wrapper .hamburger .hamburger-box .hamburger-inner:after {
            content: "";
            bottom: -12px;
            display: block;
            width: 50px;
            height: 6px;
            background-color: #c77e00;
            border-radius: 0;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease; }
      .header .nav-wrapper .hamburger.hamburger--collapse {
        perspective: 80px; }
        .header .nav-wrapper .hamburger.hamburger--collapse .hamburger-inner {
          transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
          .header .nav-wrapper .hamburger.hamburger--collapse .hamburger-inner:before {
            transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
          .header .nav-wrapper .hamburger.hamburger--collapse .hamburger-inner:after {
            transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
        .header .nav-wrapper .hamburger.hamburger--collapse.is-active .hamburger-inner {
          background-color: transparent;
          transform: rotateY(180deg); }
          .header .nav-wrapper .hamburger.hamburger--collapse.is-active .hamburger-inner:before {
            transform: translate3d(0, 10px, 0) rotate(45deg); }
          .header .nav-wrapper .hamburger.hamburger--collapse.is-active .hamburger-inner:after {
            transform: translate3d(0, -10px, 0) rotate(-45deg); }
    @media (max-width: 992px) {
      .header .nav-wrapper .nav-menu {
        padding-top: 20px;
        background-color: #0c4363; } }
    .header .nav-wrapper .nav-menu > li {
      display: inline-block;
      background-color: #0c4363; }
      @media (max-width: 992px) {
        .header .nav-wrapper .nav-menu > li {
          border-bottom: 1px solid #2e96dc; } }
      .header .nav-wrapper .nav-menu > li > a {
        text-decoration: none;
        display: block;
        color: #ffffff;
        font-size: 17px;
        padding: 10px 20px;
        font-weight: 400;
        text-align: center; }
        .header .nav-wrapper .nav-menu > li > a:hover {
          color: #6c6c6c; }
        @media (max-width: 1200px) {
          .header .nav-wrapper .nav-menu > li > a {
            font-size: 16px;
            padding: 20px 12px 0; } }
        @media (max-width: 991px) {
          .header .nav-wrapper .nav-menu > li > a {
            font-size: 17px;
            padding: 15px 0; } }
      .header .nav-wrapper .nav-menu > li.bookaroom a {
        padding: 10px 20px;
        background-color: #2e96dc; }
        .header .nav-wrapper .nav-menu > li.bookaroom a:hover {
          background-color: #5aace3;
          color: #ffffff; }
        @media (max-width: 1200px) {
          .header .nav-wrapper .nav-menu > li.bookaroom a {
            display: block;
            margin-top: 10px; } }
        @media (max-width: 991px) {
          .header .nav-wrapper .nav-menu > li.bookaroom a {
            display: block;
            padding: 10px 0;
            margin-top: 0; } }
  .header .Bookaroom-btn {
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 100; }
    @media (max-width: 1200px) {
      .header .Bookaroom-btn {
        display: none; } }
    .header .Bookaroom-btn a {
      background-color: #2e96dc;
      padding: 20px 30px 20px 20px;
      display: block;
      text-decoration: none;
      color: #ffffff;
      font-size: 19px; }
      .header .Bookaroom-btn a:hover {
        background-color: #0c4363; }
      @media (max-width: 1200px) {
        .header .Bookaroom-btn a {
          padding: 15px 12px 15px 10px;
          display: block;
          text-decoration: none;
          color: #ffffff;
          border: none;
          font-size: 16px; } }

#main .banner-wrapper {
  position: relative; }
  #main .banner-wrapper .heading-wrapper {
    position: relative; }
    @media (max-width: 767px) {
      #main .banner-wrapper .heading-wrapper {
        position: static; } }
    #main .banner-wrapper .heading-wrapper .heading-block {
      position: absolute;
      padding: 15px 30px;
      z-index: 50;
      background-color: rgba(199, 126, 0, 0.5);
      max-width: 100%;
      margin-top: 6.5rem;
      left: 0;
      right: 0; }
      @media (max-width: 991px) {
        #main .banner-wrapper .heading-wrapper .heading-block {
          padding: 15px 20px;
          margin-top: 4.5rem; } }
      @media (max-width: 767px) {
        #main .banner-wrapper .heading-wrapper .heading-block {
          font-size: 19px;
          padding: 10px 15px;
          margin-top: 3rem; } }
      @media (max-width: 480px) {
        #main .banner-wrapper .heading-wrapper .heading-block {
          font-size: 19px;
          padding: 10px 15px;
          margin-top: 2rem; } }
      #main .banner-wrapper .heading-wrapper .heading-block h1 {
        font-size: 55px;
        color: #ffffff;
        font-weight: 400;
        text-align: center;
        opacity: 1;
        display: block; }
        @media (max-width: 1200px) {
          #main .banner-wrapper .heading-wrapper .heading-block h1 {
            font-size: 45px; } }
        @media (max-width: 991px) {
          #main .banner-wrapper .heading-wrapper .heading-block h1 {
            font-size: 28px;
            font-weight: 900; } }
        @media (max-width: 767px) {
          #main .banner-wrapper .heading-wrapper .heading-block h1 {
            font-size: 22px; } }
        @media (max-width: 580px) {
          #main .banner-wrapper .heading-wrapper .heading-block h1 {
            font-size: 19px;
            font-weight: 300; } }
  #main .banner-wrapper .banner-img {
    display: block;
    max-width: 100%;
    width: 100%; }
    @media (max-width: 767px) {
      #main .banner-wrapper .banner-img {
        width: 600px;
        position: relative;
        left: 50%;
        margin-left: -300px;
        max-width: inherit;
        background-position: left top;
        overflow: hidden; } }
#main #contact .call-us-heading {
  font-size: 38px;
  color: #0c4363;
  font-weight: 700; }
  @media (max-width: 767px) {
    #main #contact .call-us-heading {
      font-size: 30px; } }
#main #contact span {
  font-size: 16px;
  font-family: Arial; }
#main #contact .tell {
  font-size: 50px;
  color: #272724;
  display: block;
  cursor: text;
  text-decoration: none;
  pointer-events: none;
  font-weight: 700; }
  @media (max-width: 767px) {
    #main #contact .tell {
      font-size: 29px;
      color: #c77e00;
      pointer-events: auto;
      cursor: pointer;
      text-decoration: underline; } }
#main #contact .email-heading {
  font-size: 38px;
  color: #0c4363;
  font-weight: 700; }
  @media (max-width: 767px) {
    #main #contact .email-heading {
      font-size: 30px; } }
#main #contact input[type="*"] {
  border-radius: 0; }

#footer {
  background-color: #0c4363; }
  #footer .social-icons-wrapper .facebook, #footer .social-icons-wrapper .linkdin, #footer .social-icons-wrapper .mail {
    font-size: 40px;
    background-color: #ffffff;
    max-width: 60px;
    display: block;
    margin-left: 10px;
    color: #0c4363; }
    @media (max-width: 767px) {
      #footer .social-icons-wrapper .facebook, #footer .social-icons-wrapper .linkdin, #footer .social-icons-wrapper .mail {
        margin-top: 15px; } }
    @media (max-width: 480px) {
      #footer .social-icons-wrapper .facebook, #footer .social-icons-wrapper .linkdin, #footer .social-icons-wrapper .mail {
        max-width: 50px;
        font-size: 25px;
        margin-left: 5px;
        margin-top: 10px; } }
    #footer .social-icons-wrapper .facebook.facebook, #footer .social-icons-wrapper .linkdin.facebook, #footer .social-icons-wrapper .mail.facebook {
      padding-left: 19px;
      padding-right: 5px; }
      @media (max-width: 480px) {
        #footer .social-icons-wrapper .facebook.facebook, #footer .social-icons-wrapper .linkdin.facebook, #footer .social-icons-wrapper .mail.facebook {
          padding-left: 10px; } }
    #footer .social-icons-wrapper .facebook.linkdin, #footer .social-icons-wrapper .linkdin.linkdin, #footer .social-icons-wrapper .mail.linkdin {
      padding-left: 10px;
      padding-right: 10px; }
      @media (max-width: 480px) {
        #footer .social-icons-wrapper .facebook.linkdin, #footer .social-icons-wrapper .linkdin.linkdin, #footer .social-icons-wrapper .mail.linkdin {
          padding-left: 5px;
          padding-right: 5px; } }
    #footer .social-icons-wrapper .facebook.mail, #footer .social-icons-wrapper .linkdin.mail, #footer .social-icons-wrapper .mail.mail {
      padding-left: 10px;
      padding-right: 10px; }
      @media (max-width: 480px) {
        #footer .social-icons-wrapper .facebook.mail, #footer .social-icons-wrapper .linkdin.mail, #footer .social-icons-wrapper .mail.mail {
          padding-left: 5px;
          padding-right: 5px; } }

/*# sourceMappingURL=Contact.css.map */
