
body{
  margin:0;
  padding:0;
  background:radial-gradient(circle farthest-corner at center center, rgb(255, 255, 255) 19%, rgb(255, 0, 0) 80%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: cursive;
}
.comingsoon{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 60px;
  color: black;
  text-align: center;
  margin: 0 auto 30px;
}
.delay-05s {
  animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.social{
  position: absolute;
  left: 0;
  right: 0;
  top: 77%;
  text-align: center;
}
.social ul{
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.social ul li{
  display: inline-block;
  padding: 0 5px;
}
.social ul li a{
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px dashed black;
  font-size: 20px;
  color: #000;
  transition: all 1s ease;
  border-radius: 15px;
  text-align: center;
}
.social ul li a:hover{
  border-radius: 0;
  border: 1px dashed black;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}
a:hover, .fa-facebook:hover{
  color: #21759B;
}
a:hover, .fa-instagram:hover{
  color: #E4405F;
}
a:hover, .fa-linkedin:hover{
  color: #0077B5;
}
a:hover, .fa-twitter:hover{
  color: #55ACEE;
}
@media (max-width: 560px){
  .comingsoon{
    font-size: 35px;
    margin: 0 auto 20px;
  }
  .social{
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    text-align: center;
  }
}