$color_1: #666;
$color_2: #00BCD4;
$color_3: #333;
$color_4: #aaa;
$color_5: #fff;
$color_6: #000;
$color_7: #999;
$color_8: #888;
$color_9: #bbb;
$color_10: #7d7d7d;
$color_11: #FFF;
$color_12: #777;
$color_13: #323232;
$color_14: #2ecc71;
$color_15: #13d7ce;
$color_16: #00b034;
$color_17: #f8c100;
$color_18: #ff0000;
$color_19: #222;
$color_20: #766454;
$color_21: #00a8ec;
$color_22: #555;
$color_23: rgb(0, 0, 0);
$color_24: rgb(255, 255, 255);
$color_25: #51bbd5;
$color_26: #303e49;
$color_27: #f5d808;
$color_28: #ddd;
$color_29: #404d5c;
$color_30: #444;
$color_31: #e43a15;
$color_32: #000000;
$color_33: #999999;
$color_34: rgba(0,0,0,0.4);
$color_35: #f4c509;
$font_family_1: 'Muli', sans-serif;
$font_family_2: 'Roboto Condensed', sans-serif;
$font_family_3: Droid Serif;
$font_family_4: Montserrat;
$font_family_5: Roboto Condensed;
$font_family_6: "un";
$font_family_7: Source Sans Pro;
$font_family_8: 'Poppins';
$font_family_9: 'FontAwesome';
$font_family_10: 'icomoon2';
$font_family_11: 'Open Sans', Arial, sans-serif;
$font_family_12: Muli;
$background_color_1: #fff;
$background_color_2: #EBEDEF;
$background_color_3: #13d7ce;
$background_color_4: #00b034;
$background_color_5: #00BCD4;
$background_color_6: #f8c100;
$background_color_7: #ff0000;
$background_color_8: #4ab8d7;
$background_color_9: #d1f2f9;
$background_color_10: #f9806d;
$background_color_11: #bac4cb;
$background_color_12: #ffffff;
$background_color_13: #02acc2;
$background_color_14: #53B50A;
$background_color_15: #1AB7EA;
$background_color_16: #F45800;
$background_color_17: #CD201F;
$background_color_18: #111;
$background_color_19: transparent;
$background_color_20: #Fff;
$border_color_1: #00BCD4;
$border_color_2: #e5e5e5;
$border_color_3: transparent;
$border_color_4: #53B50A;
$border_color_5: #1AB7EA;
$border_color_6: #F45800;
$border_color_7: #CD201F;
$border_right_color_1: #ffffff;
$border_left_color_1: #ffffff;
